.mainDiv {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 5%;
}

.DataTable {
    position: absolute;
    top: 100px;
    background-color: rgb(255, 255, 255);
    text-align: left;
}

.canvas {
    background-color: rgb(174, 174, 174);
    top: 30%;
    left: 10%;
    position: absolute;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 20px;
}

.button {
    background-color: rgb(95, 170, 255);
    padding: 4%;
}